<div class="banner-contact">
  <img src="./../../assets/hearts.png" alt="">
</div>
<div class="contact">
  <h2>Contact</h2>
</div>
<div class="location">
  <h3>Location</h3>
  <img src="./../../assets/address.png" alt="location icon">
  <p>555 5th Avenue</p>
  <p>Portland, OR</p>
</div>
<div class="Email">
  <h3>Email</h3>
  <img src="./../../assets/secured-letter.png" alt="email icon">
  <p>teamGravitate@graviatePDX.com</p>
</div>
<div class="call">
  <h3>Call</h3>
  <img src="./../../assets/phone.png" alt="">
  <p>(555)555-5555</p>
</div>
<div class="cowork">
  <h3>CoWorking hours:</h3>
  <p>Monday to Friday 8am - 7pm.</p>
</div>
