//mixins

@mixin mQ($arg){
  @media screen and (max-width: $arg){
    @content;
  }
}

//variables
$pink: #F495BC;
$background-blue: #E6F2F0;
$hover-color: #3CBDE9;

//base styles
.container{
  max-width: 1200px;
  margin: auto;
}
.header{
  a{
    color: $pink;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
  }
  a:hover{
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px $hover-color, 0 0 70px $hover-color, 0 0 80px $hover-color, 0 0 100px $hover-color ;
  }
  .nav{
    margin-right: 30px;
  }
  #nav{
    display: none;
  }
  h1{
    font: {
      family: helvetica;
      size: 3em;
    }
    margin-left: 30px;
    text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de ;
    color: #fff;
    @include mQ(600px){
      font-size: 1.2em;
    }
    }
  }
.hamburger-nav i{
  color:$pink;
}
.hamburger-nav i:hover{
  color: #fff;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer{
  background-image: url('./../assets/footer-1300.png');
  height: 310px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}
.social, .footer-nav a{
  color: #fff;
}
.footer-nav a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  margin:5px;
}
.header h1:hover{
  text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px $hover-color, 0 0 70px $hover-color, 0 0 80px $hover-color, 0 0 100px $hover-color ;
}
i:hover, .footer-nav a:hover{
  text-shadow: 0 0 10px rgba(255,255,255,1), 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px $hover-color, 0 0 70px $hover-color, 0 0 80px $hover-color, 0 0 100px $hover-color ;
}
i{
  font-size: 2.5rem;
  margin:5px;
}
//media queries
@media (min-width:500px){
  .hamburger-nav{
    display: none;
  }
  .header{
    #nav{
      display: inline-block;
    }

  }

}
