<div class="container">
  <div class="header">
    <a routerLink=""><h1>Gravitate</h1></a>
    <div class="nav">
      <div id="nav">
        <a routerLink="">Home</a>
        <a routerLink="plans">Plans</a>
        <a routerLink="contact">Contact</a>
        <a routerLink="login">Log In</a>
      </div>
      <div class="hamburger-nav">
        <img src="./../assets/hamburger-nav.png" alt="">
        <i class="fas fa-bars"></i>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
<div class="footer">
  <div class="social">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-google-plus-square"></i>
  </div>
  <div class="footer-nav">
    <a routerLink="">Home</a>
    <a routerLink="plans">Plans</a>
    <a routerLink="contact">Contact</a>
    <a routerLink="login">Log In</a>
  </div>
  <!-- <img class="image"
  srcset="./../assets/footer-500.png 500w,
  ./../assets/footer-1300.png 1300w,
  ./../assets/footer-2000.png 2000w"
  src="./../assets/footer.png 350w"
  alt="footer photo"> -->
</div>

</div>
