<div class="container">
  <div class="banner">
    <img class="image"
    srcset="./../assets/pic1-500.png 500w,
    ./../assets/pic1-1300.png 1300w,
    ./../assets/pic1-2000.png 2000w"
    src="./../assets/pic1-500.png 500w"
    alt="banner photo">
  </div>
  <div class="inspiration">
    <div class="inspiration-text">
      <p class="light-weight">We believe in creative energy.</p>
      <h2>Welcoming Inspiration</h2>
      <p class="bold">Make work feel like play.</p>
      <p>Gravitate is a co-working space complete with creative, sleek office areas designed to reinvent what working in an office looks like.</p>
      <p>Our community includes people of all shapes, colors, lifestyles, and industries.</p>
      <p>Want to <a routerLink="plans">Gravitate</a> toward us?</p>
    </div>
    <img class="image"
    srcset="./../assets/circle-cherry-blossom.png 1300w"
    src="./../assets/cherry-150.png 350w"
    alt="footer photo">
  </div>
  <div class="community">
    <img src="./../assets/dudes.png" alt="dudes">
    <div class="community-group">
      <div class="community-text">
        <h2>Join Our Community</h2>
        <p>We offer a variety of membership plans  designed to meet the needs of any company.</p>
        <p>If you would like more information, please take a look at our <a routerLink="plans">Plans</a>.</p>
      </div>
      <div class="plans-employees">
        <p>Number of employees:</p>
        <div class="employees-flex">
          <div class="num-of-employees">
            <p>1-20</p>
          </div>
          <div class="num-of-employees">
            <p>21-99</p>
          </div>
          <div class="num-of-employees">
            <p>100+</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="brands">
    <img src="./../assets/columbua.png" alt="">
    <img src="./../assets/jama.jpg" alt="">
    <img src="./../assets/Lumen-Circle.png" alt="">
    <img src="./../assets/NR.png" alt="">
    <img src="./../assets/r_logo.jpg" alt="">
    <img src="./../assets/pdxwit.jpg" alt="">
  </div>

</div>
