<div class="container">
  <div class="plans-banner">
    <img class="image"
    srcset="./../assets/venue-500.jpg 500w,
    ./../assets/venue-1300.jpg 1300w,
    ./../assets/venue.jpg 2000w"
    src="./../assets/venue-500.jpg 500w"
    alt="banner photo">
  </div>
  <div class="membership">
    <h2>Membership Plans</h2>
    <div class="plans">
      <div class="dedicated-plan">
        <img src="./../assets/agree.jpg" alt="Agreeing people">
        <h3>Dedicated Desk</h3>
        <p class="light">Pricing Varies</p>
        <p class="para-section">You get:</p>
        <p>
          Workspace access Monday through Friday, 8am-7pm with full cafe access. Work from any free space.</p>
          <p class="para-section">Best for:</p>
          <ul>
            <li>People visiting from out of town</li>
            <li>20 employees or less</li>
          </ul>
        </div>
        <div class="office-plan">
          <img src="./../assets/agree.jpg" alt="Agreeing people">
          <h3>Full Office</h3>
          <p class="light">$75/month per employee</p>
          <p class="para-section">You get:</p>
          <p>Your company gets it's own office room and full access to membership plans</p>
          <p class="para-section">Best for:</p>
          <ul>
            <li>Start ups or small companies</li>
            <li>10-50 employees</li>
          </ul>
        </div>
        <div class="full-plan">
          <img src="./../assets/agree.jpg" alt="Agreeing people">
          <h3>Office Set</h3>
          <p class="light">Starting at $500/month</p>
          <p class="para-section">You get:</p>
          <p>A set of several offices included in one floor. This includes full membership amenities. Comes with a six month commitment to membership.</p>
          <p class="para-section">Best for:</p>
          <ul>
            <li>Those who want the full office membership amenities.</li>
            <li>50-100 employees</li>
            <li>Smart people.</li>
          </ul>
        </div>
        <div class="custom-plan">
          <img src="./../assets/agree.jpg" alt="Agreeing people">
          <h3>Custom</h3>
          <p class="light">Starting at $2000/month</p>
          <p class="para-section">You get:</p>
          <p>Unlock the customizable plan after a year commitment to memebrship. You can choose from number of desks, offices, floors, and premium access to hosting parties.</p>
          <p class="para-section">Best for:</p>
          <ul>
            <li>Those who want the full office membership amenities.</li>
            <li>100+ employees</li>
            <li>Smart people.</li>
          </ul>
        </div>
      </div>
      <div class="amenities-box">
        <h3>Amenities</h3>
        <div class="amenities">
          <div class="wifi">
            <img src="./../assets/wifi.png" alt="wifi icon">
            <p>Free Wifi</p>
          </div>
          <div class="printer">
            <img src="./../assets/print.png" alt="printers">
            <p>Business Class Printers</p>
          </div>
          <div class="cafe">
            <img src="./../assets/cafe.png" alt="">
            <p>Cafe</p>
          </div>
          <div class="supplies">
            <img src="./../assets/attach.png" alt="">
            <p>Professional Office Supplies</p>
          </div>
          <div class="social-professional">
            <img src="./../assets/groups.png" alt="social/professional events">
            <p>Social/Professional Events</p>
          </div>
          <div class="bicycle">
            <img src="./../assets/bicycle.png" alt="bicyle icon">
            <p>Bicycle Storage</p>
          </div>
          <div class="craft">
            <img src="./../assets/beer-filled.png" alt="beer icon">
            <p>Craft on Draft</p>
          </div>
          <div class="yoga">
            <img src="./../assets/yoga.png" alt="Exercise icon">
            <p>Yoga and Exercise Classes</p>
          </div>
        </div>
      </div>
    </div>
</div>
